<!DOCTYPE html>
<html>
  <head>
    <title>ThousandBears</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap" rel="stylesheet">
  </head>

  <body class="bg-green-400">
    <nav id="nav" class="flex flex-row justify-center h-36 p-2">
      <img class="object-contain" src="<%= image_url('bac_run.webp')%>">
      <div id="title" class="flex items-center">
        <span class="text-3xl text-center">Thousand Bear Woods</span>
      </div>
      <img class="object-contain" src="<%= image_url('bac_cool') %>">
    </nav>
    <div class="flex flex-col items-center">
    <%= yield %>
    </div>
  </body>
</html>
